
.NavbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    /* position: relative; */
    margin: auto;
    z-index: 99999999;
    /* height: 8vh; */
}

.NavbarContainer__principal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    & picture {
        width: 25%;
        height: 100%;
        margin: 0 auto;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.NavbarContainer__section {
    & a {
        color: #99631D;
        font-size: 1.8vw;
        line-height: 2.3vw;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }
    & a:hover {
        color: #0240BC;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .NavbarContainer__section {
        & a {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    .NavbarContainer__principal {
        & picture {
            width: 40%;
        }
    }
}

@media screen and (max-width: 767px) {
    .NavbarContainer__section {
        & a {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .NavbarContainer__principal {
        & picture {
            width: 70%;
        }
    }
}

@media screen and (max-width: 400px) {


}