.shiny-text {
  position: relative;
  display: inline-block;
  color: #4F7A92; /* Color base del texto */
  font-weight: bold;
  overflow: hidden;
}

.shiny-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(    120deg,    rgba(255, 255, 255, 0) 40%,    rgba(173, 216, 230, 0.8) 50%,  /* LightBlue */    rgba(255, 255, 255, 0) 60%  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite;
  pointer-events: none;
  -webkit-animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled::before {
  animation: none;
}
