.ContainerBannerGeneral {
  width: 100%;
}
.HeroBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(254, 249, 241) 100%);
    pointer-events: none;
  }
}
.Container_ControlMusica {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scale(1);
  z-index: 999;
  width: 6%;
  height: 6vh;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  animation: heartbeat 3s ease-in-out infinite;
  -webkit-animation: heartbeat 3s ease-in-out infinite;
}
@keyframes heartbeat {
   0%, 100% {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}
  30% {
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    -moz-transform: translateY(-50%) scale(1.2);
    -ms-transform: translateY(-50%) scale(1.2);
    -o-transform: translateY(-50%) scale(1.2);
}
  60% {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}
  80% {
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
    -moz-transform: translateY(-50%) scale(1.1);
    -ms-transform: translateY(-50%) scale(1.1);
    -o-transform: translateY(-50%) scale(1.1);
}
}
.ControlMusica {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}
.ContainerPrincipalTitle {
  overflow: hidden;
  padding: 0 0.6rem;
}
.PrincipalTitle {
  /* font-family: 'Great Vibes', cursive; */
  font-family: "Dancing Script", cursive;
  font-size: 4vw;
  line-height: 4.5vw;
  font-weight: bold;
  width: fit-content;
  padding-top: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  filter: drop-shadow(0rem 0rem 0.3rem #7f8251);
  -webkit-filter: drop-shadow(0rem 0rem 0.3rem #7f8251);
  text-shadow:  0 0 0.3rem #7f8251, 2px 2px 1rem rgba(0, 0, 0, 0.6);
}
.ContenidoBanner {
  color: #F0E6FF;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  & h3 {
    font-size: 2.2vw;
    line-height: 2.7vw;
  }
  & h4 {
    font-size: 1.5vw;
    line-height: 2vw;
  }
  & .ContenidoBanner_texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & h5 {
      font-size: 2.2vw;
      line-height: 2.7vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.Heart {
  animation: colorChange 5s infinite ease;
  -webkit-animation: colorChange 5s infinite ease;
  display: flex;
  width: 1.5vw;
  margin-left: 1rem;
}
@keyframes colorChange {
  0%   { color: #e63946; }   
  25%  { color: #9627b2; }  
  50%  { color: #2ecc71; }   
  75%  { color: #3498db; }   
  100% { color: #e63946; }
}

/* .TitlesSections {
  font-size: 3.5vw;
  line-height: 4vw;
  font-weight: 600;
} */
.BodyContainer {
  width: 100%;
  position: relative;
}
.HistoryContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5% auto 12% auto;
  text-align: center;
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  & h3 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3vw;
    line-height: 3.5vw;
  }
  & p {
    font-size: 1.7vw;
    line-height: 2.2vw;
  }
  & .HistoryContainer_img {
    width: 60%;
    margin: 2% auto;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
  }
}
.HistoryContainer_sectionQR {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & p {
    width: 20%;
    font-size: 1.7vw;
    line-height: 2.2vw;
  }
  & .HistoryContainer_qrDot {
    width: 25%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mySwiperCircular {
  width: 100%;
  height: 100%;
  padding-top: 5rem !important;
  & div {
    display: flex;
    align-items: center;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 4px 30px rgba(100, 100, 100, 0.25);
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }
}

.HistoryContainer_anillos {
  width: 20%;
  margin: 1% auto;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.LocationContainer {
  width: 100%;
  padding: 40% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #E0C1B04C;
  position: relative;
  & .LocationContainer_containerImg {
    position: relative;
    width: 70%;
    & .LocationContainer_circle {
      width: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -129%);
      -webkit-transform: translate(-50%, -129%);
      -moz-transform: translate(-50%, -129%);
      -ms-transform: translate(-50%, -129%);
      -o-transform: translate(-50%, -129%);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        }
    }
    & .LocationContainer_flowers {
      width: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      -webkit-transform: translate(-50%, -100%);
      -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      -o-transform: translate(-50%, -100%);
      & img {
        animation: rotateFlowers 20s linear infinite;
        -webkit-animation: rotateFlowers 20s linear infinite;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  & .LocationContainer_text {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    & .LocationContainer_text_info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 1rem;
      & .LocationContainer_text_info_Mob {
        display: none;
        /* font-family: 'Great Vibes', cursive; */
        font-family: "Dancing Script", cursive;
      }
      & .LocationContainer_text_info_padres {
        flex-direction: row;
        justify-content: space-around;
        & section {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & h2 {
          font-size: 3.8vw;
          line-height: 4.3vw;
        }
        & h3 {
          /* font-family: 'Great Vibes', cursive; */
          font-family: "Dancing Script", cursive;
          font-size: 3.2vw;
          line-height: 3.7vw;
          font-weight: 500;
        }
        & h4 {
          font-size: 1.7vw;
          line-height: 2.2vw;
          text-align: center;
        }
        & ul {
          margin: 0;
          list-style-type: circle;
          & li {
            font-size: 1.7vw;
            line-height: 2.2vw;
            font-weight: 500;
          }
        }
      }
    }
    & h2 {
      /* font-family: 'Great Vibes', cursive; */
      font-family: "Dancing Script", cursive;
      font-size: 3.8vw;
      line-height: 4.3vw;
      text-align: center;
    }
    & h3 {
      font-size: 1.7vw;
      line-height: 2.2vw;
      text-align: center;
      font-weight: 500;
    }
  }
}
.ButtonItinerario {
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #F7E8C0;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

@keyframes rotateFlowers {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.GalleryContainer {
  position: relative;
  margin: 8% auto;
  width: 80%;
  & .GalleryContainer_principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .GalleryContainer_text {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h2 {
        /* font-family: 'Great Vibes', cursive; */
        font-family: "Dancing Script", cursive;
        font-size: 3.5vw;
        line-height: 4vw;
      }
      & h3 {
        font-size: 1.7vw;
        line-height: 2.2vw;
        font-weight: 500;
      }
      & p, ul {
        font-size: 2.1vw;
        line-height: 2.6vw;
      }
    }
    & .GalleryContainer_imgs {
      width: 60%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  & .GalleryContainer_principalImg {
    position: absolute;
    top: 59%;
    left: 75%;
    width: 30%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
}
.GiftTableContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% auto;
  text-align: center;
  gap: 1.5rem;
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  & .GiftTableContainer_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    & .GiftTableContainer_gridItem {
      position: relative;
      display: flex;
      gap: 2rem;
      & section {
        width: 50%;
      }
      & picture {
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & div {
        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.BtnExternoGlobal {
  --color: #4F7A92;
  --color2: #F7E8C0;
  padding: 1rem 2rem;
  background-color: #F7E8C0;
  border-radius: 3rem;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  /* font-family: 'Great Vibes', cursive; */
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: clamp(1.5rem, 2.2vw, 2.5rem);
  color: var(--color);
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.BtnExternoGlobal::after, .BtnExternoGlobal::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}
.BtnExternoGlobal::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.BtnExternoGlobal:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.BtnExternoGlobal:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.BtnExternoGlobal:hover {
  color: var(--color2);
}
.BtnExternoGlobal:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.DressCodeContainer {
  width: 100%;
  margin: 8% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  & .DressCodeContainer_position {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-left: 10%;
    width: 50%;
    & .DressCodeContainer_position_img {
      width: 65%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      };
    }
    & .DressCodeContainer_position_text {
      position: absolute;
      top: 50%;
      left: 100%;
      width: 50%;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #E7D4CA;
      padding: 1rem 2rem;
      transform: translate(-32%, -50%);
      -webkit-transform: translate(-32%, -50%);
      -moz-transform: translate(-32%, -50%);
      -ms-transform: translate(-32%, -50%);
      -o-transform: translate(-32%, -50%);
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;

      & .DressCodeContainer_position_flowers {
        width: 50%;
        margin: 2% auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & p {
        font-size: 1.7vw;
        line-height: 2.2vw;
      }
      & h3 {
        /* font-family: 'Great Vibes', cursive; */
        font-family: "Dancing Script", cursive;
        font-size: 2.5vw;
        line-height: 3vw;
      }
    }
  }
}
.EventGridContainer {
  position: relative;
  width: 100%;
  margin: 8% auto;
  text-align: center;
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  & .EventGridContainer_imgGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vh;
    gap: 1rem;
    max-width: 70%;
    margin: auto;
  }
}
.item {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.item1 {
  grid-row: span 3;
  background-image: url(./assets/boda_3.webp);
}
.item2 {
  grid-row: span 2;
  background-image: url(./assets/boda_6.webp);
}
.item3 {
  grid-row: span 3;
  background-image: url(./assets/boda_7.webp);
}
.item4 {
  grid-row: span 4;
  background-image: url(./assets/boda_5.webp);
}
.item5 {
  grid-row: span 2;
  background-image: url(./assets/boda_13.webp);
}
.item6 {
  grid-row: span 2;
  background-image: url(./assets/boda_17.webp);
}
.item7 {
  grid-row: span 3;
  background-image: url(./assets/boda_2.webp);
}
.item8 {
  grid-row: span 3;
  background-image: url(./assets/boda_4.webp);
}
.item9 {
  grid-row: span 2;
  background-image: url(./assets/boda_14.webp);
}
.EventGridContainer_img {
  width: 25%;
  position: absolute;
  top: 84%;
  left: 0%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.FormContainer {
  width: 100%;
  margin: 8% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & .FormContainer_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  & picture {
    width: 20%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  & section {
    width: 65%;
  }
  & h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: "Dancing Script", cursive;
    font-size: 3.5vw;
    line-height: 4vw;
  }
}

.FooterContainer {
  width: 100%;
  /* background-color: #333; */
  padding: 0;
  text-align: center;
  height: 40vh;
  display: grid;
  align-content: center;
  & picture {
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 2;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.3);
      -webkit-filter: brightness(0.3);
    }
  }
  & h2 {
    z-index: 10;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #F0E6FF;
  }
  & a {
    z-index: 10;
    color: #B8C77A;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
  }
  & .ImgLinkedin {
    width: 8%;
  }
}

@media screen and (min-width: 1280px) {
  .FooterContainer {
    & .ImgLinkedin {
      width: 10%;
    }
  }
}
  
@media screen and (min-width: 3000px) {
  .FooterContainer {
    & .ImgLinkedin {
      width: 32%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Heart {
    width: 1.3rem;
    margin-left: 0.5rem;
  }
  .Container_ControlMusica {
    width: 4rem;
  }
  .FooterContainer {
    & .ImgLinkedin {
        width: 1.5rem;
    }
  }
  .LocationContainer {
    flex-direction: column;
    padding: 0 0 12% 0;
    gap: 2rem;
    & .LocationContainer_containerImg {
      width: 55%;
      & .LocationContainer_flowers {
        width: 85%;
        position: relative;
        left: 0%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
      }
      & .LocationContainer_circle {
          width: 64%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
      }
    }
    & .LocationContainer_text {
      width: 85%;
      text-align: center;
      margin-top: 0rem;
      & .LocationContainer_text_info {
        & div {
          & h3 {
            font-size: 2.1rem;
            line-height: 2.6rem;
          }
          & h4 {
            font-size: 1.4rem;
            line-height: 1.9rem;
          }
          & ul {
            & li {
              font-size: 1.2rem;
              line-height: 1.7rem;
            }
          }
        }
      }
      & h2 {
        font-size: 2.5rem;
        line-height: 3rem;
      }
      & h3 {
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
    }
  }
  .GalleryContainer {
    width: 88%;
    margin: 5% auto 13% auto;
    & .GalleryContainer_principal {
      flex-direction: column;
      & .GalleryContainer_text {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        & h2 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
        & h3 {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
        & p, ul {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
      & .GalleryContainer_imgs {
        width: 50%;
        margin: 0 auto;
      }
    }
    & .GalleryContainer_principalImg {
      top: 78%;
      left: 60%;
      width: 43%;
    }
  }
  .PrincipalTitle {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .ContenidoBanner {
    & h2 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
    & h3 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    & h4 {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    & .ContenidoBanner_texto {
      & h5 {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
  .HistoryContainer_anillos {
    margin: 1rem auto;
  }
  .HistoryContainer {
    width: 88%;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & h3 {
      font-size: 2.1rem;
      line-height: 2.6rem;
    }
    & p {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    & .HistoryContainer_img {
      width: 80%;
      margin: 1rem auto;
    }
  }
  .GiftTableContainer {
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & .GiftTableContainer_grid {
      width: 100%;
      & .GiftTableContainer_gridItem {
        width: 65%;
        & div {
          & h3 {
            font-size: 1.8rem;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
  .DressCodeContainer {
    overflow-x: hidden;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & .DressCodeContainer_position {
      margin: 0;
      margin-left: 0rem;
      justify-content: end;
      & .DressCodeContainer_position_img {
        width: 75%;
      }
      & .DressCodeContainer_position_text {
        min-height: auto;
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        & p {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
        & h3 {
          font-size: 1.8rem;
          line-height: 2.3rem;
        }
        & .DressCodeContainer_position_flowers {
          width: 50%;
        }
      }
    }
  }
  .EventGridContainer {
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .EventGridContainer_img {
    top: 94%;
  }
  .FormContainer {
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .FormContainer {
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .ButtonItinerario {
    bottom: 0%;
  }
  .FooterContainer {
    & h2 {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .mySwiperCircular {
    padding-top: 0rem !important;
  }
  .Heart {
    width: 1.2rem;
    margin-left: 0rem;
  }
  .Container_ControlMusica {
    width: 2.5rem;
    padding: 0.5rem;
  }
  .PrincipalTitle {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .HistoryContainer_sectionQR {
    flex-direction: column;
    & p {
      width: 100%;
    }
    & .HistoryContainer_qrDot {
      width: 50%;
    }
  }
  .ContenidoBanner {
    top: 56%;
    & h2 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    & h3 {
      font-size: 1.7rem;
      line-height: 2.2rem;
    }
    & h4 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    & .ContenidoBanner_texto {
      gap: 0.5rem;
      & h5 {
        font-size: 1.2rem;
        line-height: 1.7rem;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
  .HistoryContainer_anillos {
    width: 50%;
    margin: 1rem auto;
  }
  .HistoryContainer {
    width: 87%;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & h3 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    & p {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    & .HistoryContainer_img {
        width: 100%;
    }
  }
  .LocationContainer {
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem auto;
    gap: 2rem;
    & .LocationContainer_containerImg {
      width: 50%;
      & .LocationContainer_flowers {
        width: 100%;
        position: relative;
        left: 0%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
      }
      & .LocationContainer_circle {
        width: 76%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    & .LocationContainer_text {
      width: 87%;
      text-align: center;
      margin-top: 0;
      & .LocationContainer_text_info {
        flex-direction: column;
        gap: 1rem;
        & .LocationContainer_text_info_Web {
          display: none;
        }
        & .LocationContainer_text_info_Mob {
          display: flex;
          font-size: 2.5rem;
          line-height: 3rem;
        }
        & .LocationContainer_text_info_padres {
          flex-direction: column;
          justify-content: center;
        }
        & div {
          align-items: center;
          & h3 {
            font-size: 2.1rem;
            line-height: 2.6rem;
          }
          & h4 {
            font-size: 1.4rem;
            line-height: 1.9rem;
          }
          & ul {
            width: fit-content;
            text-align: center;
            & li {
              font-size: 1.2rem;
              line-height: 1.7rem;
            }
          }
        }
      }
      & h2 {
        font-size: 2.5rem;
        line-height: 3rem;
      }
      & h3 {
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
    }
  }
  .GalleryContainer {
    width: 87%;
    margin: 3rem auto;
    & .GalleryContainer_principal {
      flex-direction: column;
      justify-content: space-around;
      & .GalleryContainer_text {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        & h2 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
        & h3 {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
        & p {
          font-size: 1.5rem;
          line-height: 2rem;
        }
        & ul {
          & li {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      & .GalleryContainer_imgs {
        width: 90%;
        margin: 0 auto;
      }
    }
    & .GalleryContainer_principalImg {
      display: none;
    }
  }
  .GiftTableContainer {
    width: 87%;
    margin: 3rem auto;
    gap: 1.5rem;
    text-align: center;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & .GiftTableContainer_grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      & .GiftTableContainer_gridItem {
        & picture {
          width: 70%;
        }
        & div {
          width: 37%;
          top: 50%;
          left: 98%;
          & h3 {
            font-size: 1.8rem;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
  .DressCodeContainer {
    width: 87%;
    margin: 3rem auto;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & .DressCodeContainer_position {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-left: 0%;
      & .DressCodeContainer_position_img {
        width: 70%;
        line-height: 0;
      }
      & .DressCodeContainer_position_text {
        position: relative;
        top: auto;
        left: auto;
        width: 80%;
        min-height: auto;
        display: flex;
        padding: 1rem 2rem;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        & .DressCodeContainer_position_flowers {
          width: 50%;
          margin: 1rem auto;
          gap: 1rem;
        }
        & p {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
        & h3 {
          font-size: 1.8rem;
          line-height: 2.3rem;
        }
      }
    }
  }
  .EventGridContainer {
    margin: 5% auto;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
    & .EventGridContainer_imgGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .item5 {
    grid-row: span 3;
  }
  .EventGridContainer_img {
    display: none;
  }
  .FormContainer {
    & .FormContainer_container {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
    & section {
      width: 90%;
    }
    & picture {
      width: 50%;
    }
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .FooterContainer {
    & h2 {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    & .ImgLinkedin {
      width: 1.6rem;
    }
  }
  .ButtonItinerario {
    bottom: 0%;
  }
}

@media screen and (max-width: 400px) {
  .mySwiperCircular {
    height: 350px;
  }
  .PrincipalTitle {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .ContenidoBanner {
    top: 48%;
    & h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    & h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    & h4 {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }
  .HistoryContainer_sectionQR {
    & .HistoryContainer_qrDot {
      width: 70%;
    }
  }
  .FormContainer {
    & picture {
      width: 70%;
    }
  }
  .CountdownContainer {
    & div {
      & h4, h5 {
        font-size: 1.3rem !important;
        line-height: 1.8rem !important;
      }
    }
  }
  .EventGridContainer {
    & .EventGridContainer_imgGrid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .GalleryContainer {
    & .GalleryContainer_principalImg {
      top: 87%;
    }
    & .GalleryContainer_principal {
      & .GalleryContainer_imgs {
        width: 85%;
      }
    }
  }
  .LocationContainer {
    & .LocationContainer_containerImg {
      width: 70%;
    }
  }
  .HistoryContainer_anillos {
    width: 80%;
  }
  .DressCodeContainer {
    & .DressCodeContainer_position {
      & .DressCodeContainer_position_text {
        width: 100%;
        padding: 1rem;
        & .DressCodeContainer_position_flowers {
          width: 47%;
        }
      }
      & .DressCodeContainer_position_img {
        width: 100%;
      }
    }
  }
  .GiftTableContainer {
    & .GiftTableContainer_grid {
      & .GiftTableContainer_gridItem {
        & picture {
          width: 100%;
        }
        & div {
          width: 50%;
        }
      }
    }
  }
}
