body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCF1E173;
    width: 100%;
    font-family: "PT Serif", serif;
    font-weight: 500;
    font-size: 30px;
    color: #4F7A92;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

picture {
    line-height: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:visited,
a:active,
a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

